.MainBody {
    background-color: #177AD8;
    color: white;
    padding: 10px 20px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    top: 0px;
    z-index: 10;
}

.glass {
    width: 50px;
    height: 50px;
}

.Nav {
    width: 60px;
    height: 60px;
}

.secondary {
    display: flex;
    gap: 40px;
}

.parentdiv {
    position: relative;
}

.sea img {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.water {
    position: absolute;
    top: 0px;
    left: 98px;
    right: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: white;
    justify-content: center
}

.shore {
    font-size: 70px;
    width: fit-content;
}

.blue {
    font-size: 15px;
}

.hero {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.gray {
    position: relative;
    max-width: 100%;
}

.stuff {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.foto {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.foto img {
    height: 45px;
    width: 45px;
}

.feat {
    color: lawngreen;
    background-image: url(white.jpg);
    height: 40px;
    background-repeat: repeat;
    background-size: cover;
    opacity: 60%;
    font-size: 27px;
}


.imgdiv img {
    position: absolute;
    display: flex;
    width: 490px;
    height: 1200px;
    right: 0px;
    opacity: 40%;
}

.hop {
    position: relative;
    left: 140px;
}

.bigfield img {
    height: 390px;
    width: 605px;
}

.rext {
    font-size: 45px;
}

.tom {
    position: absolute;
    row-gap: 900px;
    margin-top: 110px;
    margin-left: 90px;
}

.text {
    font-size: 13px;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 22px;
}

.best {
    font-size: 13px;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 22px;
}

.limb {
    font-size: 13px;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 22px;
}

.drink {
    font-size: 13px;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 22px;
}

.fruit {
    font-size: 13px;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 22px;
}

.May img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.Man img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.Comment img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.Folder img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.Like img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.omg {
    color: lawngreen;
    background-image: url(white.jpg);
    height: 40px;
    background-repeat: repeat;
    background-size: cover;
    opacity: 60%;
    position: absolute;
    top: 390px;
    right: 0px;
    font-size: 27px;
}

.apple img {
    position: absolute;
    width: 300px;
    height: 200px;
    object-fit: cover;
    top: 455px;
    right: 135px;
}

.wowzer {
    color: white;
    background-color: lawngreen;
    background-size: contain;
    font-size: 17.7px;
    position: absolute;
    opacity: 80%;
    top: 617px;
    right: 135px;
}

.dog {
    color: lawngreen;
    background-image: url(white.jpg);
    height: 40px;
    background-repeat: repeat;
    background-size: cover;
    opacity: 60%;
    position: absolute;
    top: 680px;
    right: 0px;
    font-size: 27px;
}

.hehe img {
    position: absolute;
    width: 72px;
    height: 72px;
    top: 520px;
    left: 140px;
    object-fit: cover;
}

.argh {
    position: absolute;
    font-size: 18px;
    font-weight: 100;
    font-family: sans-serif;
    top: 514px;
    left: 215px;
    line-height: 28px;
}

.brgh {
    position: absolute;
    font-size: 18px;
    font-weight: 100;
    font-family: sans-serif;
    top: 600px;
    left: 140px;
    line-height: 28px;
}

.heya {
    position: absolute;
    font-size: 18px;
    font-weight: 100;
    font-family: sans-serif;
    top: 790px;
    left: 140px;
    line-height: 28px;
}

.foop {
    position: relative;
    width: 100%;
}

.MORE {
    position: absolute;
    color: white;
    background-color: green;
    font-weight: 300;
    height: 45px;
    width: 160px;
    align-items: center;
    justify-content: center;
    top: 1000px;
    left: 140px;
    display: flex;
    border-radius: 10px;
}

.GREEN {
    position: relative;
}